<yandex>
  <listen_host>::</listen_host>
  <http_port>8123</http_port>
  <tcp_port>9000</tcp_port>
  <max_session_timeout>60</max_session_timeout>
  <max_query_size>10485760</max_query_size>
  <max_result_rows>100000</max_result_rows>
  <max_execution_time>300</max_execution_time>
  <max_memory_usage>10000000000</max_memory_usage>
  <timezone>UTC</timezone>
  <query_log>
    <database>default</database>
    <table>query_log</table>
  </query_log>
  <query_thread_log>
    <database>default</database>
    <table>query_thread_log</table>
  </query_thread_log>
  <compression>
    <case>
      <min_part_size>1000000000</min_part_size>
      <method>lz4</method>
      <use_for_all_types>true</use_for_all_types>
    </case>
  </compression>
  <dictionaries_config>
    <include_from>/etc/clickhouse-server/dicts/</include_from>
  </dictionaries_config>
  <users_config>
    <include_from>/etc/clickhouse-server/users.d/</include_from>
  </users_config>
</yandex>